 @import 'vars';
 @import 'fonts';
 @import 'reset';
 @import 'global';


 .header {
   padding: 60px 0;
   display: flex;
   justify-content: space-between;
   position: sticky;
   top: 0;
 }

 .logo {
   display: inline-block;
   outline: transparent;
   transition: 0.3s;
   outline: transparent;

   &:focus {
     box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
     border-radius: 5px;
   }

   &:hover {
     opacity: 0.8;
   }

   &:active {
     opacity: 0.5;
   }
 }


 .menu {
   display: flex;
   align-items: center;

   &__list {
     display: flex;
     margin-right: 62px;
     justify-content: space-between
   }

   &__item {
     margin-right: 43px;
   }

   &__item:last-child {
     margin-right: 0;
   }

   &__link {
     outline: transparent;
     transition: 0.3s;
     font-size: 18px;
   }

   &__link:focus {
     box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
     border-radius: 5px;
   }

   &__link:hover {
     color: $orange;
   }

   &__link:active {
     text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
     box-shadow: 0px 0px 0px 2px transparent;
     border: transparent;
   }
 }

 .user-nav {
   display: flex;

   &__link {
     position: relative;
     width: 44px;
     height: 44px;
     border: solid 1px transparent;
     display: flex;
     align-items: center;
     justify-content: center;
     outline: transparent;
     transition: 0.3s;
     outline: transparent;
   }

   &__link:focus {
     @extend %focus;
   }

   &__link:hover {
     background-color: $orange;
     border-radius: 5px;

     path {
       stroke: #fff;
     }

     ellipse {
       stroke: #fff;
     }
   }

   &__link:active {
     background-color: #FFF2ED;
     border-radius: 5px;
   }

   &__num {
     position: absolute;
     width: 14px;
     height: 14px;
     border-radius: 50%;
     background-color: $orange;
     font-size: 10px;
     line-height: 12px;
     color: #fff;
     top: 8px;
     right: 3px;
     z-index: 1;
     text-align: center;
   }
 }

 .search {
   margin-right: 15px;
 }

 .footer {
   &__bottom {
     padding: 30px 0;
     border-top: solid 1px #C2C2C2;
     width: 100%;
     font-size: 14px;
     line-height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   &__inner {
     display: flex;
     margin-bottom: 60px;
   }

   &__list {
     margin-right: 70px;

   }

   &__subscribe {
     margin-right: 70px;
     display: flex;
     flex-direction: column
   }

   &__form {
     max-width: 200px;
     width: 100%;
   }

   &__input {
     display: block;
     width: 100%;
     padding: 13px 0 13px 15px;
     border: 1px solid #C2C2C2;
     border-radius: 5px;
     margin-bottom: 12px;
     font-size: 14px;
     opacity: 0.9;
     line-height: 0;
   }

   &__btn {
     display: block;
     width: 100%;
     @extend %btn;
     padding: 13px 38px;
     font-weight: 500;
     font-size: 14px;
     border: solid 1px transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: 0.3s;
     outline: transparent;
   }

   &__btn:focus {
     @extend %focus;
     color: $orange;

     path {
       fill: $orange;
     }
   }

   &__btn:hover {
     background-color: #fff;
     color: $orange;
     box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
     border-radius: 5px;
     outline: transparent;

     path {
       fill: $orange;
     }
   }

   &__btn:active {
     background: #FFF2ED;
     box-shadow: 0px 0px 0px 2px transparent;
     border: solid 1px transparent;
   }

   &__logo {
     margin-bottom: 30px;
   }

   &__item {
     margin-bottom: 15px;
   }

   &__link {
     font-size: 18px;
     letter-spacing: 0.01em;
     border: solid 1px transparent;
     transition: 0.3s;
     outline: transparent;
   }

   &__link:focus {
     box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
     border-radius: 5px;
   }

   &__link:hover {
     color: $orange;
   }

   &__link:active {
     text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
     box-shadow: 0px 0px 0px 2px transparent;
     border: solid 1px transparent;
   }
 }

 .contact {
   &__item {
     margin-bottom: 15px;
   }

   &__link {
     font-size: 16px;
     line-height: 32px;
     position: relative;
     padding-left: 30px;
   }

   &__link::before {
     content: "";
     @extend %bg;
     width: 24px;
     height: 24px;
     position: absolute;
     left: 0;
     bottom: -3px;
   }
 }

 .socials {
   display: flex;

   &__link {
     outline: transparent;
     width: 40px;
     height: 40px;
     background-color: #ECECEC;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.3s;
   }

   &__item {
     margin-right: 13px;
   }

   &__link:last-child {
     margin-right: 0;
   }

   &__link:focus {
     @extend %focus;
     border-radius: 50%;
   }

   &__link:hover {
     background-color: $orange;

     path {
       fill: #fff;
     }
   }

   &__link:active {
     @extend %active;
     background: #FFF2ED;
     border: transparent;
     box-shadow: 0px 0px 0px 2px transparent;

     path {
       fill: #FF7A50;
     }
   }
 }

 .location::before {
   background-image: url(../images/icons/location.svg);
 }

 .calling::before {
   background-image: url(../images/icons/calling.svg);
 }

 .message::before {
   background-image: url(../images/icons/message.svg);
 }






















 @import 'media'