 @import 'vars';
 @import 'fonts';
 @import 'libs';
 @import 'reset';
 @import 'global';

 .header {
   position: fixed;
   width: 100%;
   background-color: $body-color;

   &__inner {
     padding: 60px 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
 }

 .logo {
   display: inline-block;
   outline: transparent;
   transition: 0.3s;
   outline: transparent;

   &:focus {
     @extend %focus-second;
   }

   &:hover {
     opacity: 0.8;
   }

   &:active {
     opacity: 0.5;
   }
 }

 .menu {
   display: flex;
   align-items: center;

   &__list {
     display: flex;
     margin-right: 62px;
     justify-content: space-between
   }

   &__item {
     margin-right: 43px;
   }

   &__item:last-child {
     margin-right: 0;
   }

   &__link {
     outline: transparent;
     transition: 0.3s;
     font-size: 18px;
   }

   &__link:focus {
     @extend %focus-second;
   }

   &__link:hover {
     color: $orange;
   }

   &__link:active {
     @extend %active-text;
   }
 }

 .user-nav {
   display: flex;

   &__link {
     position: relative;
     width: 44px;
     height: 44px;
     border: solid 1px transparent;
     display: flex;
     align-items: center;
     justify-content: center;
     outline: transparent;
     transition: 0.3s;
     outline: transparent;
   }

   &__link:focus {
     @extend %focus-first;
   }

   &__link:hover {
     background-color: $orange;
     border-radius: 5px;

     path {
       stroke: #fff;
     }

     ellipse {
       stroke: #fff;
     }
   }

   &__link:active {
     background-color: #FFF2ED;
     border-radius: 5px;

     path {
       stroke: $title-color;
     }

     ellipse {
       stroke: $title-color;
     }
   }

   &__num {
     position: absolute;
     width: 14px;
     height: 14px;
     border-radius: 50%;
     background-color: $orange;
     font-size: 10px;
     line-height: 12px;
     color: #fff;
     top: 8px;
     right: 3px;
     z-index: 1;
     text-align: center;
   }
 }

 .search {
   margin-right: 15px;
 }

 .hero {
   margin-top: 164px;

   &__inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }

   &__content {
     max-width: 450px;
   }

   &__title {
     @extend %rubik-500;
     font-size: 66px;
     color: $title-color;
     line-height: 130%;
     margin-bottom: 20px;
     text-transform: uppercase;
   }

   &__span {
     color: $orange;
   }

   &__text {
     line-height: 150%;
     margin-bottom: 20px;
   }

   &__order {
     @extend %btn;
     padding: 13px 32px;
     margin-right: 35px;
     outline: transparent;
     border: solid 1px transparent;
     transition: 0.3s;
     cursor: pointer;
     font-size: 18px;
   }

   &__order:focus {
     @extend %focus-first;
     color: $orange;
   }

   &__order:hover {
     background: rgba(255, 255, 255, 0.1);
     box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2), 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
     border-radius: 5px;
     color: $orange;
   }

   &__order:active {
     background: rgba(255, 122, 80, 0.1);
     border-radius: 5px;
     box-shadow: 0px 5px 12px transparent;
   }

   &__more {
     text-decoration: underline;
     color: $title-color;
     outline: transparent;
     transition: 0.3s;
   }

   &__more:focus {
     box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
     border-radius: 5px;
   }

   &__more:hover {
     color: $orange;
   }

   &__more:active {
     text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
     box-shadow: 0px 0px 0px 2px transparent
   }

 }

 .popular {
   &__title {
     margin-bottom: 60px;
     line-height: 130%;
   }

   &__filter {
     display: flex;
     margin-bottom: 45px;
   }

   &__btn {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-right: 20px;
     box-shadow: 0px 0px 0px 1px $silver;
     border-radius: 5px;
     padding: 13px 33px;
     font-size: 20px;
     line-height: 130%;
     cursor: pointer;
     outline: transparent;
     transition: 0.3s;

     svg {
       margin-right: 10px;
     }
   }

   &__btn:focus {
     @extend %focus-second;
   }

   &__btn:hover {
     background-color: rgba(255, 122, 80, 0.1);
     box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
     border-radius: 5px;
     color: #FF6838;

     path {
       fill: $orange;
     }
   }

   &__btn:active {
     background-color: #FFFFFF;
     box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
     border-radius: 5px;
   }

   &__catalog {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: 300px 300px;
     grid-gap: 30px;
     margin-bottom: 60px;
   }

   &__more {
     text-decoration: underline;
     display: block;
     margin: 0 auto;
     outline: transparent;
     transition: 0.3s;

     &:focus {
       @extend %focus-second;
     }

     &:hover {
       color: $orange;
     }

     &:active {
       @extend %active-text;
     }
   }
 }

 .food-card {
   background-color: #FFFFFF;
   box-shadow: 0px 0px 0px 1px $silver;
   border-radius: 5px;
   text-align: center;
   padding: 20px 15px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   @extend %bg;
   background-size: auto;
   background-position-y: 20px;
   transition: 0.3s;

   &:hover {
     background: #FFFFFF;
     box-shadow: 0px 0px 0px 1px $orange;
     border-radius: 5px;
     background-repeat: no-repeat;
     background-position: center;
     background-position-y: 20px;
   }

   &__title {
     font-size: 15px;
     line-height: 18px;
     font-weight: 400;
     margin-top: 170px;
   }

   &__title:nth-child(1) {
     margin-top: 150px;
   }

   &__price {
     @extend %rubik-500;
     font-size: 15px;
     line-height: 140%;
   }

   &__btn {
     @extend %btn;
     padding: 7px 16px;
     cursor: pointer;
     transition: 0.3s;
     font-size: 14px;
     line-height: 130%;
     outline: transparent;
   }

   &__btn:focus {
     @extend %focus-first;
     color: $orange;
   }

   &__btn:hover {
     background: rgba(255, 255, 255, 0.1);
     box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2), 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
     border-radius: 5px;
     color: $orange;
   }

   &__btn:active {
     background: rgba(255, 122, 80, 0.1);
     border-radius: 5px;
     box-shadow: 0px 5px 12px transparent, 0px 0px 0px 2px transparent;
   }
 }

 .footer {
   &__bottom {
     padding: 30px 0;
     border-top: solid 1px $gray;
     width: 100%;
     font-size: 14px;
     line-height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   &__inner {
     display: flex;
     margin-bottom: 60px;
   }

   &__list {
     margin-right: 70px;

   }

   &__subscribe {
     margin-right: 70px;
     display: flex;
     flex-direction: column
   }

   &__form {
     max-width: 200px;
     width: 100%;
   }

   &__input {
     display: block;
     width: 100%;
     padding: 13px 0 13px 15px;
     border: 1px solid $gray;
     border-radius: 5px;
     margin-bottom: 12px;
     font-size: 14px;
     opacity: 0.9;
     line-height: 0;
     outline: transparent;
     transition: 0.3s;
   }

   &__input::placeholder {
     color: #C2C2C2;
     transition: 0.3s;
   }

   &__input:focus {
     @extend %focus-first;
   }

   &__input:hover::placeholder {
     color: $title-color;
   }

   &__btn {
     display: block;
     width: 100%;
     @extend %btn;
     padding: 13px 38px;
     font-weight: 500;
     font-size: 14px;
     border: solid 1px transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: 0.3s;
     outline: transparent;
     cursor: pointer;
   }

   &__btn:focus {
     @extend %focus-first;
     color: $orange;

     path {
       fill: $orange;
     }
   }

   &__btn:hover {
     background-color: #fff;
     color: $orange;
     box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
     border-radius: 5px;
     outline: transparent;

     path {
       fill: $orange;
     }
   }

   &__btn:active {
     background: #FFF2ED;
     box-shadow: 0px 0px 0px 2px transparent;
     border: solid 1px transparent;
   }

   &__logo {
     margin-bottom: 30px;
   }

   &__item {
     margin-bottom: 15px;
   }

   &__link {
     font-size: 18px;
     letter-spacing: 0.01em;
     border: solid 1px transparent;
     transition: 0.3s;
     outline: transparent;
   }

   &__link:focus {
     @extend %focus-second;
   }

   &__link:hover {
     color: $orange;
   }

   &__link:active {
     @extend %active-text;
   }
 }

 .contact {
   &__item {
     margin-bottom: 15px;

   }

   &__link {
     font-size: 16px;
     line-height: 32px;
     position: relative;
     padding-left: 30px;
     transition: 0.3s;
     outline: transparent;
   }


   &__link::before {
     content: "";
     @extend %bg;
     width: 24px;
     height: 24px;
     position: absolute;
     left: 0;
     bottom: -3px;
     outline: transparent;
   }

   &__link:focus {
     @extend %focus-first;
   }

   &__link:hover {
     color: $orange;
   }

   &__link:active {
     @extend %active-text;
   }
 }

 .socials {
   display: flex;

   &__link {
     outline: transparent;
     width: 40px;
     height: 40px;
     background-color: $silver;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.3s;
   }

   &__item {
     margin-right: 13px;
   }

   &__link:last-child {
     margin-right: 0;
   }

   &__link:focus {
     @extend %focus-first;
     border-radius: 50%;
   }

   &__link:hover {
     background-color: $orange;

     path {
       fill: #fff;
     }
   }

   &__link:active {
     background-color: #FFF2ED;
     border: solid 1px transparent;
     box-shadow: 0px 0px 0px 2px transparent;

     path {
       fill: #FF7A50;
     }
   }
 }

 .location::before {
   background-image: url(../images/icons/location.svg);
 }

 .calling::before {
   background-image: url(../images/icons/calling.svg);
 }

 .message::before {
   background-image: url(../images/icons/message.svg);
 }




















 @import 'media'