.catalog {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  .jq-selectbox__select {
    height: 47px;
    padding: 7px 45px 0 10px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    background: #fff;
    box-shadow: none;
    font-family: 'Rubik';
    color: $dark;
    text-shadow: none;
    transition: all 0.3s;



    &:hover {
      border: 1px solid $orange-900;
      color: $orange-900;

      .jq-selectbox__trigger-arrow {
        @include recolor ($orange-900);
      }
    }
  }

  .jq-selectbox__trigger {
    border-left: none;
  }

  .jq-selectbox__trigger-arrow {
    top: 21px;
  }

  .catalog-filters {
    &__name {
      margin-right: 15px;
    }
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 20px;
    right: 12px;
    width: 13px;
    height: 6px;
    border: none;
    background-image: url(.././images/icons/chevron-down.svg);
    background-repeat: no-repeat;
    transition: all 0.3s;
  }

  &__inner {
    display: flex;
    margin-bottom: 60px;
  }

  &__filters {
    max-width: 271px;
    width: 100%;
    margin-right: 30px;
  }

  .irs--flat .irs-line {
    top: 25px;
    height: 2px;
    background-color: #C2C2C2;
    border-radius: 0px;
  }

  .irs--flat .irs-handle {
    top: 17px;
    width: 18px;
    height: 18px;
    background-color: $orange-900;
    border-radius: 50%;
  }

  .irs--flat .irs-handle>i:first-child {
    display: none;
  }

  .irs--flat .irs-bar {
    top: 25px;
    height: 2px;
    background-color: $orange-900;
  }

  .irs-to,
  .irs-from {
    display: none;
  }

  .irs-max,
  .irs-min {
    display: none;
  }

  &__content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(3, 300px);
  }
}

.filter {

  &__title {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 400;
    padding-bottom: 15px;
    margin-bottom: 25px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $silver-200;
      top: 58px;
      left: 0;
    }
  }

  &__item {
    background-color: #fff;
    border: 1px solid $silver-200;
    margin-bottom: 30px;
    position: relative;
    padding: 15px 15px 25px 15px;
    border-radius: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.03em;
    color: #C2C2C2;
    font-size: 16px;
    margin-bottom: 25px;
  }

  &__span {
    padding: 12px 20px;
    background-color: #FAEDED;
    color: $darkblue-900;
    font-size: 16px;
    line-height: 1;
    border-radius: 3px;
  }
}

.filter-offer {
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.filter-offer__checkbox {
      background-image: url(.././images/icons/checkbox.svg);
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $darkblue-900;
    }
  }

  &__label {
    padding-left: 35px;
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    transition: all 0.3s;

    &:last-child() {
      margin-bottom: 0;
    }

    &:hover {
      color: $orange-900;

      .filter-offer__checkbox {
        border: 1px solid $orange-900;
      }
    }
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    background-color: #FAEDED;
    position: absolute;
    margin-left: -35px;
    border-radius: 3px;
    transition: border 0.3s;
  }
}

.filter-category {
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.filter-category__checkbox {
      color: $orange-900;
    }

  }

  &__label {
    display: block;
    margin-bottom: 12px;
    transition: all 0.3s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $orange-900;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    }
  }

  &__checkbox {
    font-size: 18px;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  &__arrow {
    width: 48px;
    height: 48px;
    background-color: #FAEDED;
    display: flex;
    border-radius: 3px;
    outline: transparent;
    transition: all 0.3s;

    svg {
      margin: auto;
      transition: all 0.3s;
    }

    &:focus {
      border: solid 1px $orange-900;
    }

    &:hover {
      background-color: $orange-900;

      svg {
        @include recolor(#fff);
      }
    }

    &:active {
      background-color: #FAEDED;
      box-shadow: inset 0px -1px 4px 2px rgba(0, 0, 0, 0.15);
      color: $darkblue-900;
      border: solid 1px transparent;

      svg {
        @include recolor($darkblue-900);
      }
    }
  }

  &__prev {
    svg {
      transform: rotate(90deg);
    }
  }

  &__next {
    svg {
      transform: rotate(270deg);
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    margin: 0 6px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #FAEDED;
    font-size: 18px;
    border: solid 1px transparent;
    border-radius: 3px;
    outline: transparent;
    transition: all 0.3s;

    &--active {
      border: solid 1px $darkblue-900;
      border-radius: 3px;
    }

    &:focus {
      border: solid 1px $orange-900;
    }

    &:hover {
      background-color: $orange-900;
      color: #fff;
    }

    &:active {
      background-color: #FAEDED;
      box-shadow: inset 0px -1px 4px 2px rgba(0, 0, 0, 0.15);
      color: $darkblue-900;
      border: solid 1px transparent;
    }
  }

}