.hero {
  margin-top: 164px;

  @media (max-width: $md) {
    margin-top: 96px;
  }

  &__inner {
    background-repeat: no-repeat;
    background-size: 560px 660px;
    background-position: center right;
    display: flex;
    align-items: center;
    height: 660px;

    @media (max-width: $lg) {
      background-size: 400px 500px;
    }

    @media (max-width: $sm) {
      height: 300px;
      background-size: 250px 300px;
    }
  }

  &__content {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $md) {
      background-color: rgba(249, 250, 255, 0.85);
      max-width: none;
      height: 100%;
      justify-content: center;
    }


    @media (max-width: $sm) {
      background-color: rgba(249, 250, 255, 0.85);
      max-width: none;
      height: 100%;
      justify-content: center;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    color: $dark;
    line-height: 130%;
    margin-bottom: 20px;
    text-transform: uppercase;

    @media (max-width: $lg) {
      font-size: 55px;
      max-width: 380px;
    }

    @media (max-width: $sm) {
      font-size: 40px;
      max-width: 270px;
    }
  }

  &__span {
    color: $orange-900;
  }

  &__text p {
    line-height: 150%;
    margin-bottom: 20px;

    @media (max-width: $lg) {
      font-size: 18px;
    }

    @media (max-width: $sm) {
      font-size: 16px;
    }
  }

  &__order {
    padding: 13px 32px;
    margin-right: 35px;
    outline: transparent;
    border: solid 1px transparent;
    transition: 0.3s;
    cursor: pointer;
    font-size: 18px;

    @media (max-width: $sm) {
      padding: 8px 24px;
      font-size: 14px;
      margin-right: 30px;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
      color: $orange-900;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2), 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
      color: $orange-900;
    }

    &:active {
      background: rgba(255, 122, 80, 0.1);
      border-radius: 5px;
      box-shadow: 0px 5px 12px transparent;
    }
  }

  &__more {
    text-decoration: underline;
    color: $darkblue-900;
    outline: transparent;
    transition: all 0.3s;

    @media (max-width: $sm) {
      font-size: 16px;
      line-height: 1.5;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
      text-decoration: transparent;
    }

    &:hover {
      color: $orange-900;
      text-decoration: none;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      box-shadow: 0px 0px 0px 2px transparent;
      text-decoration: none;
    }
  }
}